body {
    background: linear-gradient(to bottom, black, white);
    background-repeat: no-repeat;
}

#mainPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-display {
    width: 80vw;
    height: 40vh;
    /* min-height: 200px; */
    display: grid;
    row-gap: 10px;
    overflow: hidden;
    column-gap: 10px;
    background-color: #CCCCCC;
    margin-bottom: 10px;
}

.project-display:hover {
    background-color: white;
}

.project-display .project-image-display {
    grid-row: span 2;
    grid-column: span 2;
    max-width: 2fr;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-display .project-image-display img {
    max-width: 200px;
    max-height: 90%;
}

/* .project-display .project-image-display {
    grid-row: span 2;
    grid-column: span 2;
    max-width: 2fr;
    display: grid;
    overflow: auto;
}

.project-display .project-image-display img {
    max-width: 200px;
    max-height: 90%;
    justify-self: center;
    align-self: center;
} */

/* .project-display .project-image-display img::before {
    content: "";
    display: block;
    padding-left: 100%;
    float: left;
} */

.project-display .project-title {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background-color: white;
    border: 2px solid #DDDDDD;
    outline: 2px solid #EEEEEE;
}

.project-display .project-description {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background-color: white;
    border: 2px solid #DDDDDD;
    outline: 2px solid #EEEEEE;
}

.project-display .project-date-data {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 2px solid #DDDDDD;
    outline: 2px solid #EEEEEE;
}